{% extends 'base.html' %}
{% block main %}

{% if len(cards)==0 %}
<div class="mdl-grid">
	<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col remi-card">
		<div class="mdl-card__title">
			<div class="mdl-layout-spacer"></div>
			<span class="mdl-card__title-text">没有找到相应的结果。</span>
			<div class="mdl-layout-spacer"></div>
		</div>
	</div>
</div>
{% else %}
{% for card in cards %}
<div class="mdl-grid">
	<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-color--white remi-card">
		<div class="mdl-card__title">
			<a class="mdl-card__title-text" href="/article/{{card.id}}">{{ card.title }}</a>
		</div>
		<div class="mdl-card__menu">
			<i class="material-icons">{{card.icon}}</i>
		</div>
		<div class="mdl-card__title remi-brief">{{ card.brief }}</div>
		<div class="mdl-card__actions mdl-card--border">
			<i class="material-icons">date_range</i>
			{% set day_diff = (datetime.datetime.now()-card.date).days %}
			{% if day_diff == 0 %}
			{{ card.date.strftime('今天 %H:%M:%S') }}&nbsp;&nbsp;
			{% end %}
			{% if day_diff == 1 %}
			{{ card.date.strftime('昨天 %H:%M:%S') }}&nbsp;&nbsp;
			{% end %}
			{% if day_diff == 2 %}
			{{ card.date.strftime('前天 %H:%M:%S') }}&nbsp;&nbsp;
			{% end %}
			{% if day_diff >= 3 %}
			{{ card.date.strftime('%Y年%m月%d月 %H:%M') }}&nbsp;&nbsp;
			{% end %}
			{% for l in card.label.split('\t')[0:3] %}
			&nbsp;&nbsp;<i class="material-icons">turned_in</i>
			<a class="remi-label" href="/search?param={{l}}">{{ l }}</a>
			{% end %}
			<div class="mdl-layout-spacer"></div>
			<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/article/{{card.id}}">
				查看全文...
			</a>
		</div>
	</div>
</div>
{% end %}
{% end %}
{% if pages['size'] > 0 %}
<div class="mdl-grid mdl-paging">
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col remi-card">
        <div class="mdl-card__actions">
            <div class="mdl-layout-spacer"></div>
            {% if pages['pre'] == None %}
            <a class="mdl-button mdl-js-button mdl-button--colored mdl-js-ripple-effect" style="width: 20%" href="#" disabled>上一页</a>
            {% else %}
            <a class="mdl-button mdl-js-button mdl-button--colored mdl-js-ripple-effect" style="width: 20%" href="{{pages['pre']}}">上一页</a>
            {% end %}
            <div class="mdl-layout-spacer"></div>
            {% if pages['next'] == None %}
            <a class="mdl-button mdl-js-button mdl-button--colored mdl-js-ripple-effect" style="width: 20%" href="#" disabled>下一页</a>
            {% else %}
            <a class="mdl-button mdl-js-button mdl-button--colored mdl-js-ripple-effect" style="width: 20%" href="{{pages['next']}}" >下一页</a>
            {% end %}
            <div class="mdl-layout-spacer"></div>
        </div>
    </div>
</div>
{% end %}

{% end %}
