a {
    text-decoration: none;
}

nav > .mdl-navigation__link > i {
    margin-right: 28px;
}
.remi-face {
    text-align: center;
}
.remi-face > img {
    width: 96px;
    margin-top: 32px;
    margin-bottom: 16px;
    border-radius: 50%;
}
.remi-main {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
}
.remi-card {
    padding: 5px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
@media(min-width:960px){
    .remi-card {
        width: 780px;
    }
}
@media(min-width:1600px){
    .remi-card {
        width: 1400px;
    }
}
@media(min-width:2160px){
    .remi-card {
        width: 1980px;
    }
}
.remi-card > .mdl-card__actions {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    font-size: 13px;
    color: grey;
}
.remi-card > .remi-brief {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px;
    color: grey;
}
.remi-card i {
    font-size: 16px;
}
.remi-label {
    color: grey;
}
